
/* comment
box-model fix
html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
} */

/* Global Styles */
/* html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
} */
body {
  color: #151910ff;
  background-color: #fdfeecff;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'IM Fell Great Primer', serif;
  line-height: 1;
}
a, a:hover, a:visited {
    color: #f5cd76ff;
}
.topnav {
  background-color: #9a8f8f;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  border-radius: 4px;
  top: 20px;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 10px;
  background-color: #9a8f8f;
  text-decoration: underline;
  font-size: 15px;
  font-family: 'IM Fell Great Primer', serif;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #efe8e1;
color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #9a8f8f;
color: black;
}

img {
  width: 300px;
}
a {
  color: #151910ff;
  /* background: #151910ff; */
  padding: 4px;
  border-radius: 4px;
}
.btn {
  color: #E3BA49;
  background: #151910ff;
  padding: 4px;
  border-radius: 4px;
}
.btn:hover {
  color: #E3BA49;
  text-decoration: none;
  background: #151910ff;
  padding: 6px;
  border-radius: 4px;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
h1, h2 {
  font-family: 'IM Fell Great Primer', serif;
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

/* Profile */
header {
  background: #4C4C4E;
  padding: 1px;
}

/* Projects */
.projects {
  background: #fdfeecff;
}
.projects .btn {
  /* display: inline-block; */
}
/* Work Experience */
.data-sources {
  background: #F8ECDC;
}
.ref-item {
  overflow: hidden;
  border-bottom: 1px dashed #1b2323ff;
  padding: 25px 0;
}
.project-item img{
  float: left;
  margin-right: 20px;
}
.project-item h3 {
  margin-top: 0;
}

/* Education */


/* Contact Me */
footer {
  background: #4C4C4E;
  padding: 4px;
}
/* .contact a {
  margin: 25px, 20px;
} */
