body {
    margin:0;
    padding:0;
    font-family: serif;
}
a, a:hover, a:visited {
    color: #0071bc;
}
.topnav {
  background-color: #333;
  overflow:  hidden;
  position: fixed;
  z-index: 1;
  border-radius: 4px;
  top: 10px;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 10px;
  background-color: #9a8f8f;
  text-decoration: underline;
  font-size: 15px;
  font-family: 'IM Fell Great Primer', serif;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #efe8e1;
color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #9a8f8f;
color: black;
}

#map {
    top:0;
    height: 100vh;
    width:100vw;
    position: fixed;
    z-index: -5;
}
#header {
    margin: 3vh auto;
    width: 90vw;
    padding: 2vh;
    text-align: center;
    font-family: 'IM Fell Great Primer', serif;
}
#footer {
    width: 100%;
    min-height: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
    font-style: normal;
    font-family: 'IM Fell Great Primer', serif;
}
#features {
    padding-top: 10vh;
    padding-bottom: 10vh;
    z-index: 100;
    font-family: 'IM Fell Great Primer', serif;
}
.centered {
    width: 50vw;
    margin: 0 auto;
}
.lefty {
    width: 33vw;
    margin-left: 5vw;
}
.righty {
    width: 33vw;
    margin-left: 62vw;
}
.light {
    color: #444;
    background-color: #fafafa;
}
.dark {
    color: #fafafa;
    background-color: #444;
    border-radius: 4px
}
.step {
    padding-bottom: 50vh;
    /* margin-bottom: 10vh; */
    opacity: 0.25;
}
.step.active {
    opacity: 0.9;
}

.step div {
    padding:  25px 50px;
    line-height: 25px;
    font-size: 17px;
    background-color: #6e6c74s;
}

.step img {
    width: 100%;
}

@media (max-width: 750px) {
    #features {
        width: 90vw;
        margin: 0 auto;
    }
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: unset;
}
